.heading-primary {
}
.heading-secondary {
}
.heading-tertiary {
}
.heading-quaternary {
}
.sub-heading {
}
.paragraph {
}
.btn {
}

/* 

---  01 TYPOGRAPHY SYSTEM

-font sizes (px): 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHT: 
default: 400
medium: 500
semi-bold: 600
bold: 700

--- 02 WHITE SPACE 

-Spacing system (px) 
2 / 4/ 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
