.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.center-text {
  text-align: center;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
}
